body{
  background: #F7F7F7;
}

body > header > .logo,
.box footer .button,
.box footer input[type=submit],
.box footer button{
  background-color: #fff;
  color: #000;
}

body > header > .logo{
  border-color: #EBF0F6;
}

.box {
  background-color: #fff;
  box-shadow: 1px 1px 3px #ccc;
}

body > header,
.box footer{
  background-color: #000;
  color: #fff;
}

.error{
  color: #df4242;
}

a{
  color: inherit;
}
