html{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 0.0025em;
}

h1 {
  font-size: 2em;
}

a{
  font-weight: bold;
  text-decoration: none;
}

@media (min-width: 640px) {
  html{
    font-size: 1.695vh;
  }
}

