.box{
  margin: 0 auto;
  min-height: 28em;
  max-width: 64em;
  border-radius: 3px;
}

.box header,
.box .message,
.box footer{
  padding: 1em;
}

.box header,
.box footer{
  padding-top: 2em;
  padding-bottom: 2em;
}

.box header > *{
  display: block;
  margin: auto;
}

.box header{
  text-align: center;
}

.box header img{
  margin-top: 1em;
  height: 4em;
}

.box .content{
  min-height: 5em;
}

.box .content + footer{
  margin-top: 4em;
}

.box .message{
  min-height: 4em;
  box-sizing: border-box;
  text-align: center;
}

.box footer{
  align-items: center;
  border-radius: 0 0 3px 3px;
  display: flex;
  justify-content: space-between;
  min-height: 2em;
}

@media (min-width: 800px) {
  .box{
    margin: 8em auto 2em;
  }
  .box .content{
    min-height: 12em;
  }

  .box header,
  .box .message,
  .box footer{
    padding-left: 2em;
    padding-right: 2em;
  }

  .box footer{
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

