label,
select,
input[type="checkbox"],
input[type="radio"],
input[type="submit"],
.button,
button{
  cursor: pointer;
}

.button,
input[type="submit"],
button{
  border-radius: 3px;
  border: none;
  box-sizing: content-box;
  display: inline-block;
  font-family: inherit;
  font-size: 1em;
  font-weight: bold;
  height: 1em;
  line-height: 1;
  padding: 1em;
  vertical-align: middle;
}

div.fake-input,
select,
input[type="text"],
input[type="email"],
input[type="password"] {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  flex-grow: 1;
  font-size: 1em;
  padding: 0.5em;
  height: 3em;
}

select{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-right: 3em;
  background-image: url('/img/dropdown.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 1em) 1em;
  background-size: 1em;
}

div.form-row{
  display: flex;
  align-items: baseline;
}

div.fake-input label{
  flex-grow: 0;
  opacity: 0.5;
}

div.fake-input input{
  border: none;
  height: 100%;
  padding-bottom: 0;
  padding-top: 0;
}
