footer .button,
footer input[type=submit],
footer button{
  border-radius: 3px;
  border: none;
  box-sizing: content-box;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1em;
  font-weight: bold;
  height: 1em;
  line-height: 1;
  padding: 0.5em;
  vertical-align: middle;
}

select,
input[type="text"],
input[type="email"],
input[type="password"] {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  flex-grow: 1;
  font-size: 1em;
  padding: 0.5em;
  height: 3em;
}

select{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

div.form-row{
  display: flex;
  align-items: baseline;
}

